* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.test {
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    opacity: 0.3;
    /* height: 17px;
    width: 17px;
    left: 1269px;
    top: 260px; */
}

.password {
    text-align: center;
    color: red;
    font: normal bold 40px/40px Arial;
    width: 200px;
}

.title {
    text-align: center;
    color: red;
    font: normal bold 60px/60px Arial;
    padding: 10vh 0;
}

.game_settings {
    background: url(darts.png);
    background-color: rgba(255,255,255,0.5);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player_count {
    font: normal normal 40px/40px Arial;
    text-align: center;
    margin: 5vh 0;
    width: 30vw;
}

select, option , input {
   background-color: aqua; 
}

.players_name {
    display: flex;
    flex-direction: column;
    width: 30vw;
}

.write_name {
    border: 1px solid pink;
    font: normal normal 30px/30px Arial;
    margin: 5px 0;
    background-color: aqua;
}

.start_button {
    background-color: red;
    margin-top: 10px;
    padding: 5px;
    font: normal normal 40px/40px Arial;
    cursor: pointer;
}

.game_field {
    display: flex;
    flex-direction: row; 
    /* border: 5px solid blue; */
    height: 100vh;
    width: 100vw;
}

.table_field {
    display: flex;
    flex-direction: row; 
    /* border: 1px solid yellow; */
    height: 100%;
    width: 60%;
    overflow-y: scroll;
}

.statistics_field {
    display: flex;
    flex-direction: row; 
    /* border: 1px solid yellow; */
    height: 100%;
    width: 95%;
    margin: 10px auto;
}

.supertable, .supertble_s {
    width: 100%;
    border: 1px solid red;
}
.superrow, .superrow_s {
    height: 5vh;
}

.ordercell, .ordercell_s {
    color: white;
    font: normal normal 10px/10px Arial;
    text-align: center;
    width: 50px;
    border: 1px solid blueviolet;
}

.supercell {
    border: 1px solid green;
    color: white;
    font: normal normal 30px/30px Arial;
    text-align: center;
}

.supercell_s {
    border: 1px solid green;
    color: white;
    font: normal normal 20px/20px Arial;
    text-align: center;
}

.darts_field {
    display: flex;
    flex-direction: column; 
    /* border: 1px solid yellow; */
    height: 100%;
    width: 40%;
}

.darts {
    height: 70%;
    width: 100%;
    background-image: url(darts.png);
    background-size: 500px 500px;
    background-position-x: center;
    background-repeat: no-repeat;  
}

.turn_info {
    display: flex;
    flex-direction: column;
    height: 25%;
    color: white;
    text-align: center;
    font: normal bold 25px/25px Arial;
}

.turn_info_container {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.throw {
    display: flex;
    flex-direction: row;
    margin: 3px 0;
    justify-content: center;
    font: normal bold 20px/20px Arial;
}
.throw_result {
    width: 130px;
    text-align: left;
}

.delete_button {
    margin-left: 80px;
    background-color: grey;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
}

.change_button {
    margin-left: 10px;
    background-color: grey;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
}

.next_turn {
    background-color: red;
    font: normal normal 30px/30px Arial;
    cursor: pointer;
    flex: 0 0 auto;
}

.marker {
    position: absolute;
    font: normal bold 15px/15px Arial;
    color:yellow;
}

.result_box {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 160px;
    padding: 10px;
    margin: 0 20vw;
    top: 40%;
    text-align: center;
    background-color: rgb(33, 43, 43);
    opacity: 0.5;
    color: white;
    font: normal normal 30px/30px Arial;
    z-index: 100;
}
.result_box:hover {
    opacity:0.8;
}

.result_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
    margin-top: 20px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 80px;
    border: 2px solid red;
    background-color:cadetblue;
    border-radius: 5px;
    cursor: pointer;
}

.final_result {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 460px;
    padding: 10px;
    margin: 0 20vw;
    top: 30%;
    text-align: center;
    background-color: rgb(33, 43, 43);
    color: white;
    font: normal normal 30px/30px Arial;
    z-index: 100;
}

.result_table {
    width: 100%;
}
.res_ordercell {
    color: white;
    font: normal normal 20px/20px Arial;
    text-align: center;
    padding: 2px;
    width: 50px;
    border: 1px solid blueviolet;
}

.res_supercell {
    border: 1px solid green;
    color: white;
    padding: 2px;
    font: normal normal 20px/20px Arial;
    text-align: center;
}

.new_game_button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    cursor: pointer;
}

.fireworks {
    position:absolute;
    /* height: 100vh; */
    width: 100vw;
}

.statistics_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.time_button {
    height: 40px;
    margin: 10px;
    padding: 5px;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
    width: 150px;
}

.return_button {
    height: 40px;
    margin: 10px;
    padding: 5px;
    font: normal normal 20px/20px Arial;
    cursor: pointer;
    width: 150px;
}

.active {
    font-weight: bold;
    background-color:rgb(17, 106, 109);
    cursor: default;
}

.disabled {
    pointer-events: none;
}

.colored {
    background-color: darkgray;
}

.loading {
    cursor: wait;
}

.hide {
    display: none;
}